/* Importa folhas de estilo globais. */

@import url('/style.css');

/* Folhas de estilo de contatos. */

form label {
    display: block;
    margin-bottom: .25rem;
    margin-left: .25rem;
}

form input,
form textarea,
form button,
button[onclick] {
    font-family: inherit;
    font-size: inherit;
    padding: .25rem .5rem;
    border: 1px solid grey;
    border-radius: .3rem;
}

form input,
form textarea {
    width: 100%;
}

form textarea {
    height: 6rem;
    resize: vertical;
}

form button,
button[onclick] {
    background: linear-gradient(rgb(31, 70, 102), rgb(103, 164, 214));
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

form button:hover,
button[onclick]:hover {
    background: linear-gradient(rgb(170, 45, 0), rgb(246, 125, 81));
}

/* Marca campos inválidos. */

form input:invalid,
form textarea:invalid {
    background: rgb(255, 207, 207);
    border-bottom: 3px solid red;
}

/* Marca campos válidos. */

form input:valid,
form textarea:valid {
    background: rgb(232, 240, 254);
    border-bottom: 3px solid green;
}

/* Desabilita botão de envio se formulário está inválido. */

form:invalid button {
    background: linear-gradient(rgb(88, 88, 88), grey);
    color: rgb(219, 219, 219);
    cursor: not-allowed;
}
